/*Page wide Section */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: .9;
  background-color: black;
  text-align: center;
  display: block;
}

h2,
h4 {
  margin: 0;
  padding: 10px;
}

div {
  display: block;
}

.main {
  width: 1200px;
  padding-top: 69px;
  margin: auto;
}

/*menu Section */
.menu {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  z-index: 1;
  background-color: black;
}

.menu__logo {
  padding-left: 10px;
}

img {
  height: 50px;
}

.menu__buttons {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.menu__button {
  color: seashell;
  text-decoration: underline;
  padding-right: 20px;
  opacity: .9;
}
/*Header Section */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-image: url(./image-mission-background.jpg);
  height: 700px;
}

.header__title {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*Tea of the month Section */

.tea-month {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding-top: 70px;
}

.tea-month__teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea-month__image-headings {
  padding-right: 30px;
}

.tea-month__images {
  width: 300px;
  height: 200px;
}

/*Locations Section */
.location {
  background-image: url(./image-background.jpg);
  height: 500px;
}

.location__boxes {
  display: flex;
  justify-content: center;
}

.location__box {
  width: 300px;
  background-color: black;
  margin-right: 40px;
}

.location__address {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.location h2 {
  padding-top: 100px;
  padding-bottom: 15px;
}


/*Footer Section */
.footer__main {
  height: 200px;
  margin-top: 15px;
}

.footer__copywrite {
  text-align: left;
  padding-left: 20px;
}
